#class1{
	border: 2px solid red;
	width: 200px;
	height: 300px;
}
#text1{
	margin-top:2px;
	margin-bottom:2px;
	margin-left: 20px;

}
#input11, #input12{
	border: 2px solid red;
	width: 150px;
	height: 20px;
	margin-left: 20px;
}
